body{
	position: relative;
	width:100%;
	height:100%;
	background-color:rgb(214, 211, 211);
	mix-blend-mode: darken;	
}


#cabecera{
	position:fixed;
	top:0%;
	left:0%;
	width: 100%;
	height: 70px;
	background:#ffce36;
	mix-blend-mode:darken;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loginBox{
	position: absolute;
	width: 400px;
	height: 400px;
	left: 850px;
	top: 120px;
	border: 1px solid #000000;
	border-radius: 30px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
	
}

#tituloBox{
	position: absolute;
	left:120px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 0px;
	color: #000000;
}

#logoCiudad{	
	padding: 5px;
}

.headerBsAs{
	width: 607px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 1px;
	left: 870px;
	font-family:  Roboto;
	font-weight: Regular;
	font-size: 25px;
	opacity: 1;
	text-align: left;
}

.headerDescuento{
	width: 860px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 30px;
	left: 704px;
	font-family: Roboto;
	font-weight: Regular;
	font-size: 30px;
	opacity: 1;
	text-align: left;
  }

.vamosBA{
	position: absolute;
	width: 617px;
	height: 213px;
	left: 100px;
	top: 200px;
}

#username{
	position: absolute;
	width: 200px;
	height: 30px;	
	left: 100px;
	top: 111px;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.ocultar{
	display:none;
}

#inputError{
	
	position: relative;
	text-align: center;
	top: 135px;
	font-family: Roboto;
	font-size:15px;
}

#inputPassError{
	
	position: absolute;
	text-align: center;
	left:120px;
	top: 250px;
	font-family: Roboto;
	font-size:12px;
}

.correcto{
	color:blue;
}

.incorrecto{
	color:red;
}

.userInputTitle{
	position: absolute;
	width: 103px;
	height: 35px;
	left: 100px;
	top: 75px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;

	color: #000000;
}

#password{
	position: absolute;
	width: 200px;
	height: 30px;	
	left: 100px;
	top: 222px;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	border: 2px solid #000000;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.userPasswordTitle{
	position: absolute;
	width: 103px;
	height: 35px;
	left: 100px;
	top: 185px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 35px;
	color: #000000;
}

#button{
	position: absolute;
	width: 210px;
	height: 40px;
	left: 100px;
	top: 300px;
	font-size: 18px;

	background:#ffce36;
	border: 2px rgb(84, 100, 116) #000000;
	border-radius: 11px;
}

.contenedorTarjetas{
	
	position: relative;
	width: 800px;
	height: 430px;
	margin-top:15px;
	left:280px;
	border: 1px solid #000000;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.tarjeta1{
	position: absolute;
	width: 200px;
	height: 350px;
	top: 40px;
	left:30px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

#imgFarm1{
	display: block;
	margin:auto;
	height:180px;
	width:200px;
}

.center{
	text-align: center;	
	font-family:Roboto;
}

h4.left{
	
	margin-top:15px;
	margin-left: 15px;
	font-family:Roboto;
}

h4.fontSize{
	font-size: 15px;
	text-decoration: underline;
}

h1{
	font-size:35px
}

.tarjeta2{
	position: absolute;
	width: 200px;
	height: 350px;
	top: 40px;
	left:300px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

.tarjeta3{
	position: absolute;
	width: 200px;
	height: 350px;
	top: 40px;
	left:565px;
	border: 1px solid black;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

#contenedorUserButton{
	
	position: relative;
	width: 1300px;
	height: 50px;
	margin-top:80px;
	left:20px;
	
	
	
}

.botonSalir{
	position: absolute;
	width: 70px;
	height: 35px;
	left: 1220px;
	top: 7px;
	background:#ffce36;
	border: 1px rgb(84, 100, 116) #000000;
	border-radius: 11px;
	font-size: 18px;
	font-family: Roboto;
	

}